* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 48px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (max-width: 768px) {
    .container {
        padding: 24px;
    }
}

.header {
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.main-top {
    display: flex;
    align-items: center;
    gap: 24px;
}

@media (max-width: 768px) {
    .main-top {
        flex-direction: column;
        align-items: center;
    }
}

.main-top-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

@media (max-width: 768px) {
    .main-top-right {
        align-items: center;
    }
}

.main-photo {
    max-width: 150px;
    object-fit: contain;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media (max-width: 768px) {
    .contacts {
        text-align: center;
    }
}

.main-items {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content-subtitle {
    font-size: 16px;
    font-weight: 600;
}

.content-text {
    font-size: 14px;
    font-weight: 400;
}

.content-date {
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

.content-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content-list li {
    font-size: 14px;
    font-weight: 400;
    list-style: disc;
}

.content-list-skills li {
    list-style: inside;
    list-style-type: square;
}

.content-list-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 24px;
}

.content-subtitle-secondary {
    font-size: 14px;
    font-weight: 600;
}

.content-items {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content-text-secondary {
    font-style: italic;
}

.content-text-secondary span {
    font-weight: 600;
}